$color-highlight: hsl(60, 93%, 48%);
$color-pink: hsl(297, 79%, 57%);
$color-muted: hsl(0, 0%, 96%);
$color-orange: hsl(39, 100%, 50%);
$color-white: hsl(0, 0%, 100%);
$color-gray: hsl(0, 0%, 95%);
$color-light-gray: hsl(0, 0%, 88%);
$color-dark: hsl(0, 0%, 10%);
$color-dark-muted: hsl(0, 0%, 20%);